PORT=
REDIS_URL=
DATABASE_URL=
DATABASE_URL_READONLY=
BOT_TOKEN=
BOT_TOKEN_TEST=
MAINTAINER_CHAT_ID=
TIME_ZONE=Europe/Kyiv
RAILWAY_PUBLIC_DOMAIN=localhost
LOG_LEVEL=debug
LOG_LEVEL_HTTP=debug
NODE_ENV=development
STUDIO_ID=
STUDIO_ID_TEST=
GOOGLE_PLACE_ID=
AI_API_KEY=
AI_MODEL_STANDARD=
AI_DAILY_CALL_LIMIT=
TRANSCRIPTION_SHARED_SECRET=
TRANSCRIPTION_SERVICE_URL=
INTERNAL_API_KEY=
METRICS_TOKEN=
EMBEDDINGS_API_KEY=
EMBEDDINGS_MODEL=
